In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('hotel_bookings.csv')

In [3]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [5]:
df.shape

(119390, 32)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [7]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [10]:
df.value_counts()

hotel         is_canceled  lead_time  arrival_date_year  arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies  meal  country  market_segment  distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled  reserved_room_type  assigned_room_type  booking_changes  deposit_type  agent  company  days_in_waiting_list  customer_type    adr     required_car_parking_spaces  total_of_special_requests  reservation_status  reservation_status_date
City Hotel    0            256        2016               October             43                        16                         2                        3                     2       0.0       0       BB    DEU      Online TA       TA/TO                 0                  0                       0                               A                   A                   0                No Deposit    9.0    333.0    0                     Transient-Party  100.75  0                            0                          Check-Out           2016-10-21                 7
Resort Hotel  0            24         2015               November            45                        3                          3                        10                    1       0.0       0       BB    FRA      Corporate       Corporate             0                  0                       0                               A                   A                   2                No Deposit    334.0  281.0    0                     Transient-Party  40.00   0                            0                          Check-Out           2015-11-16                 5
                           36         2015               November            45                        7                          2                        6                     1       0.0       0       BB    DEU      Corporate       Corporate             0                  0                       0                               A                   A                   1                No Deposit    185.0  281.0    0                     Transient-Party  36.00   0                            0                          Check-Out           2015-11-15                 4
                                                                                                                                                                                                                 AUT      Corporate       Corporate             0                  0                       0                               A                   A                   1                No Deposit    185.0  281.0    0                     Transient-Party  36.00   0                            0                          Check-Out           2015-11-15                 3
City Hotel    0            256        2016               October             43                        16                         2                        3                     2       0.0       0       BB    DEU      Online TA       TA/TO                 0                  0                       0                               A                   A                   1                No Deposit    9.0    333.0    0                     Transient-Party  100.75  0                            0                          Check-Out           2016-10-21                 2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
Resort Hotel  1            41         2015               November            46                        12                         1                        3                     1       0.0       0       BB    PRT      Corporate       Corporate             0                  0                       0                               A                   A                   1                No Deposit    185.0  281.0    0                     Transient-Party  36.00   0                            0                          Canceled            2015-11-09                 1
                                                                                                                                                                                                                                                                                                                                           E                   E                   1                No Deposit    185.0  281.0    0                     Transient-Party  52.20   0                            0                          Canceled            2015-10-23                 1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2015-11-09                 1
                                                                                                                                                                                 2       0.0       0       BB    PRT      Corporate       Corporate             0                  0                       0                               A                   A                   1                No Deposit    185.0  281.0    0                     Transient-Party  43.20   0                            0                          Canceled            2015-10-23                 1
                           114        2017               June                25                        19                         1                        4                     2       1.0       0       HB    PRT      Offline TA/TO   TA/TO                 0                  0                       0                               A                   A                   1                No Deposit    5.0    250.0    0                     Transient        117.50  0                            0                          Canceled            2017-05-15                 1
Name: count, Length: 189, dtype: int64

In [11]:
df.nunique()

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             5
babies                               5
meal                                 5
country                            177
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              333
company                            352
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

In [12]:
# Count the unique values in a column
df['reservation_status'].value_counts()

reservation_status
Check-Out    75166
Canceled     43017
No-Show       1207
Name: count, dtype: int64

In [13]:
# Checking the unique values in a column
df['reservation_status'].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [14]:
df['reservation_status'].nunique()

3

Finding and Droping Duplicate values

In [15]:
df.duplicated().sum()

np.int64(31994)

In [16]:
df.duplicated().value_counts(normalize =True)

False    0.732021
True     0.267979
Name: proportion, dtype: float64

In [17]:
# Get all duplicate rows
duplicates = df[df.duplicated(keep=False)]
duplicates

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
39,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119352,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04

In [18]:
df.drop_duplicates(inplace = True)

In [19]:
df.duplicated().sum()

np.int64(0)

Handling Missing values Pandas

In [20]:
df.isnull()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119386,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119387,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119388,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
119389,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [21]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [22]:
df[["agent", "country", "company", "children"]]

        agent country  company  children
0         NaN     PRT      NaN       0.0
1         NaN     PRT      NaN       0.0
2         NaN     GBR      NaN       0.0
3       304.0     GBR      NaN       0.0
4       240.0     GBR      NaN       0.0
...       ...     ...      ...       ...
119385  394.0     BEL      NaN       0.0
119386    9.0     FRA      NaN       0.0
119387    9.0     DEU      NaN       0.0
119388   89.0     GBR      NaN       0.0
119389    9.0     DEU      NaN       0.0

[87396 rows x 4 columns]

In [23]:
children_mode = df.children.mode()[0]
print('children Mode   : ', children_mode)

children Mode   :  0.0

In [26]:
df['children'] = df['children'].replace(np.nan, children_mode)

In [27]:
df["children"].isnull().sum()

np.int64(0)

In [28]:
df['company'] = df['company'].fillna(0)

In [29]:
df['country'] = df['country'].fillna('Unknown')

In [30]:
df['agent'] = df['agent'].fillna(0)

In [31]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

Hnadling missing values using Scikit-learn

In [32]:
df2 = pd.read_csv('hotel_bookings.csv')
df2

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [33]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'constant', fill_value=0)
df2[['agent']] = imputer.fit_transform(df2[['agent']])

In [34]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
df2['children'] = imputer.fit_transform(df2[['children']])

In [35]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'constant', fill_value=0)
df2['company'] = imputer.fit_transform(df2[['company']])

In [36]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'constant', fill_value='unknown')
#df2['country'] = imputer.fit_transform(df2[['country']])
df2['country'] = imputer.fit_transform(df2[['country']]).ravel()

In [37]:
df2.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

Removing unnecessary row

In [39]:
# Remove records where adults, children, and babies are all 0
df = df[~((df['adults'] == 0) & (df['children'] == 0) & (df['babies'] == 0))]

In [40]:
# Remove records with first-time guests who have previous booking history
df = df[~((df['is_repeated_guest'] == 0) & ((df['previous_cancellations'] > 0) | (df['previous_bookings_not_canceled'] > 0)))]

In [41]:
# Remove records where the number of adults is 0 but a parking space is requested
df = df[~((df['adults'] == 0) & (df['required_car_parking_spaces'] > 0))]

Creating New Features

In [42]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [43]:
# Create a new feature for total nights stayed
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']

# Create a new feature for total guests
df['total_guests'] = df['adults'] + df['children'] + df['babies']

# Display the first few rows with new features
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0.0,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,1.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0.0,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,1.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0.0,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,2.0

Converting Data Type

In [44]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
total_nights                        int64
total_guests                      float64
dtype: object

In [45]:
# Maping month names to numeric values
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}

df['arrival_date_month'] = df['arrival_date_month'].map(month_mapping)
df['arrival_date_month']

0         7
1         7
2         7
3         7
4         7
         ..
119385    8
119386    8
119387    8
119388    8
119389    8
Name: arrival_date_month, Length: 85536, dtype: int64

In [46]:
# Convert the 'children' from float to int
df['children'] = df['children'].astype(int)
print(df['children'].dtypes)

int64

In [47]:
# Convert 'reservation_status_date' to datetime
df['reservation_status_date'] = pd.to_datetime(df['reservation_status_date'])

In [48]:
# Convert 'agent' and 'company' columns from float to int to str
df['agent'] = df['agent'].astype(int).astype(str)
df['company'] = df['company'].astype(int).astype(str)

print(df[['agent', 'company']].dtypes)

agent      object
company    object
dtype: object

In [49]:
# Extract categorical/string variables
cat_cols = df.select_dtypes(include=['object']).columns
# Extract numerical variables
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

In [50]:
df[cat_cols]

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status
0,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,0,0,Transient,Check-Out
1,Resort Hotel,BB,PRT,Direct,Direct,C,C,No Deposit,0,0,Transient,Check-Out
2,Resort Hotel,BB,GBR,Direct,Direct,A,C,No Deposit,0,0,Transient,Check-Out
3,Resort Hotel,BB,GBR,Corporate,Corporate,A,A,No Deposit,304,0,Transient,Check-Out
4,Resort Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,240,0,Transient,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,BB,BEL,Offline TA/TO,TA/TO,A,A,No Deposit,394,0,Transient,Check-Out
119386,City Hotel,BB,FRA,Online TA,TA/TO,E,E,No Deposit,9,0,Transient,Check-Out
119387,City Hotel,BB,DEU,Online TA,TA/TO,D,D,No Deposit,9,0,Transient,Check-Out
119388,City Hotel,BB,GBR,Online TA,TA/TO,A,A,No Deposit,89,0,Transient,Check-Out
119389,City Hotel,HB,DEU,Online TA,TA/TO,A,A,No Deposit,9,0,Transient,Check-Out

In [51]:
df[num_cols]

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_nights,total_guests
0,0,342,2015,7,27,1,0,0,2,0,...,0,0,0,3,0,0.00,0,0,0,2.0
1,0,737,2015,7,27,1,0,0,2,0,...,0,0,0,4,0,0.00,0,0,0,2.0
2,0,7,2015,7,27,1,0,1,1,0,...,0,0,0,0,0,75.00,0,0,1,1.0
3,0,13,2015,7,27,1,0,1,1,0,...,0,0,0,0,0,75.00,0,0,1,1.0
4,0,14,2015,7,27,1,0,2,2,0,...,0,0,0,0,0,98.00,0,1,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,23,2017,8,35,30,2,5,2,0,...,0,0,0,0,0,96.14,0,0,7,2.0
119386,0,102,2017,8,35,31,2,5,3,0,...,0,0,0,0,0,225.43,0,2,7,3.0
119387,0,34,2017,8,35,31,2,5,2,0,...,0,0,0,0,0,157.71,0,4,7,2.0
119388,0,109,2017,8,35,31,2,5,2,0,...,0,0,0,0,0,104.40,0,0,7,2.0
119389,0,205,2017,8,35,29,2,7,2,0,...,0,0,0,0,0,151.20,0,2,9,2.0

In [52]:
df[num_cols].describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_nights,total_guests
count,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,...,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000
mean,0.269255,79.490308,2016.222316,6.454744,26.745604,15.817784,1.006851,2.628437,1.884271,0.140374,...,0.039328,0.016227,0.158448,0.269547,0.740238,107.022935,0.083848,0.700302,3.635288,2.035599
std,0.443575,85.365339,0.680336,3.086923,13.628040,8.832327,1.024731,2.030172,0.622275,0.458451,...,0.194376,0.284998,1.671900,0.713278,10.053174,54.949309,0.281015,0.831697,2.728635,0.791170
min,0.000000,0.000000,2015.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-6.380000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,12.000000,2016.000000,4.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,72.800000,0.000000,0.000000,2.000000,2.000000
50%,0.000000,49.000000,2016.000000,7.000000,27.000000,16.000000,1.000000,2.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,99.000000,0.000000,0.000000,3.000000,2.000000
75%,1.000000,124.000000,2017.000000,9.000000,37.000000,23.000000,2.000000,4.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,135.000000,0.000000,1.000000,5.000000,2.000000
max,1.000000,737.000000,2017.000000,12.000000,53.000000,31.000000,18.000000,42.000000,55.000000,10.000000,...,1.000000,21.000000,72.000000,18.000000,391.000000,5400.000000,8.000000,5.000000,60.000000,55.000000

In [53]:
df[cat_cols].describe()

,hotel,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status
count,85536,85536,85536,85536,85536,85536,85536,85536,85536,85536,85536,85536
unique,2,5,178,8,5,9,10,3,334,346,4,3
top,City Hotel,BB,PRT,Online TA,TA/TO,A,A,No Deposit,9,0,Transient,Check-Out
freq,52455,66451,26051,50995,67972,55142,45303,84607,28450,80632,70709,62505

In [54]:
df['arrival_date_year'].describe()

count    85536.000000
mean      2016.222316
std          0.680336
min       2015.000000
25%       2016.000000
50%       2016.000000
75%       2017.000000
max       2017.000000
Name: arrival_date_year, dtype: float64

Renaming Column name for better understanding

In [55]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'total_nights',
       'total_guests'],
      dtype='object')

In [56]:
df.rename(columns={'hotel': 'hotel_name'}, inplace=True)
df.rename(columns={'is_canceled': 'canceled'}, inplace=True)
df.rename(columns={'arrival_date_year': 'arriving_year'}, inplace=True)
df.rename(columns={'arrival_date_week_number': 'arriving_week'}, inplace=True)
df.rename(columns={'arrival_date_day_of_month': 'arriving_month'}, inplace=True)
df.rename(columns={'is_repeated_guest': 'Repeated_Guest'}, inplace=True)
df.rename(columns={'adr': 'average_daily_rate'}, inplace=True)

In [57]:
df.head()

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,0,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,1.0
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,0,Transient,75.0,0,0,Check-Out,2015-07-02,1,1.0
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,0,Transient,98.0,0,1,Check-Out,2015-07-03,2,2.0

Slicing Dataframe

In [58]:
#loc is used to select rows and columns by label
#df2.loc[1:5]
df2.loc[1:3, ['hotel', 'lead_time']]

          hotel  lead_time
1  Resort Hotel        737
2  Resort Hotel          7
3  Resort Hotel         13

In [59]:
#iloc is used to select rows and columns by integer position:
df2.iloc[1:5, [0,2]]

          hotel  lead_time
1  Resort Hotel        737
2  Resort Hotel          7
3  Resort Hotel         13
4  Resort Hotel         14

Querying dataframe

In [60]:
df[df.stays_in_week_nights > 30]

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
1655,Resort Hotel,0,30,2015,9,37,7,13,33,2,...,0,0,Transient,0.00,0,1,Check-Out,2015-10-23,46,2.0
9839,Resort Hotel,1,322,2017,1,2,10,16,40,2,...,0,0,Transient,25.50,0,0,Canceled,2016-10-31,56,2.0
14037,Resort Hotel,0,113,2015,8,31,1,18,42,1,...,0,0,Transient,110.50,0,3,Check-Out,2015-09-30,60,1.0
32589,Resort Hotel,0,1,2017,2,5,3,13,32,1,...,0,0,Transient,42.11,0,3,Check-Out,2017-03-20,45,1.0
33924,Resort Hotel,0,71,2017,1,2,10,16,40,2,...,0,0,Transient,28.79,0,0,Check-Out,2017-03-07,56,2.0
54704,City Hotel,0,206,2016,7,30,23,14,34,2,...,0,0,Transient-Party,0.00,0,1,Check-Out,2016-09-09,48,2.0

In [61]:
df[df.stays_in_week_nights < 20][['hotel_name', 'lead_time']]

          hotel_name  lead_time
0       Resort Hotel        342
1       Resort Hotel        737
2       Resort Hotel          7
3       Resort Hotel         13
4       Resort Hotel         14
...              ...        ...
119385    City Hotel         23
119386    City Hotel        102
119387    City Hotel         34
119388    City Hotel        109
119389    City Hotel        205

[85460 rows x 2 columns]

In [ ]:
df[(df.hotel_name == 'City Hotel') & (df.children > 3)]

Empty DataFrame
Columns: [hotel_name, canceled, lead_time, arriving_year, arrival_date_month, arriving_week, arriving_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, Repeated_Guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, average_daily_rate, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, total_nights, total_guests]
Index: []

[0 rows x 34 columns]

In [63]:
df.query('lead_time > 700')

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,0,Transient,0.0,0,0,Check-Out,2015-07-01,0,2.0
4182,Resort Hotel,0,709,2016,2,9,25,8,20,2,...,0,0,Transient,68.0,0,0,Check-Out,2016-03-24,28,2.0

In [ ]:
df.query('hotel_name == "Resort Hotel"')

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,Resort Hotel,0,212,2017,8,35,31,2,8,2,...,0,0,Transient,89.75,0,0,Check-Out,2017-09-10,10,3.0
40056,Resort Hotel,0,169,2017,8,35,30,2,9,2,...,0,0,Transient-Party,202.27,0,1,Check-Out,2017-09-10,11,2.0
40057,Resort Hotel,0,204,2017,8,35,29,4,10,2,...,0,0,Transient,153.57,0,3,Check-Out,2017-09-12,14,2.0
40058,Resort Hotel,0,211,2017,8,35,31,4,10,2,...,0,0,Contract,112.80,0,1,Check-Out,2017-09-14,14,2.0
40059,Resort Hotel,0,161,2017,8,35,31,4,10,2,...,0,0,Transient,99.06,0,0,Check-Out,2017-09-14,14,2.0

In [65]:
df.query('lead_time > 700 and stays_in_weekend_nights > 4')

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
4182,Resort Hotel,0,709,2016,2,9,25,8,20,2,...,0,0,Transient,68.0,0,0,Check-Out,2016-03-24,28,2.0

In [66]:
df.columns

Index(['hotel_name', 'canceled', 'lead_time', 'arriving_year',
       'arrival_date_month', 'arriving_week', 'arriving_month',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'distribution_channel',
       'Repeated_Guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type',
       'average_daily_rate', 'required_car_parking_spaces',
       'total_of_special_requests', 'reservation_status',
       'reservation_status_date', 'total_nights', 'total_guests'],
      dtype='object')

In [67]:
df.query('adults > 4 and babies < 2')

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
1539,Resort Hotel,1,304,2015,9,36,3,0,3,40,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,3,40.0
1587,Resort Hotel,1,333,2015,9,36,5,2,5,26,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,26.0
1643,Resort Hotel,1,336,2015,9,37,7,1,2,50,...,0,0,Group,0.0,0,0,Canceled,2015-01-18,3,50.0
1752,Resort Hotel,1,340,2015,9,37,12,2,5,26,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,26.0
1884,Resort Hotel,1,347,2015,9,38,19,2,5,26,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,26.0
1917,Resort Hotel,1,349,2015,9,39,21,1,3,27,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,4,27.0
1962,Resort Hotel,1,352,2015,9,39,24,1,3,27,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,4,27.0
2003,Resort Hotel,1,354,2015,9,39,26,2,5,26,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,26.0
2164,Resort Hotel,1,361,2015,10,40,3,2,5,26,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,26.0
2173,Resort Hotel,1,338,2015,10,41,4,2,0,55,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,2,55.0
2228,Resort Hotel,1,328,2015,10,41,6,2,5,20,...,0,0,Group,0.0,0,0,Canceled,2015-09-03,7,20.0
2229,Resort Hotel,1,328,2015,10,41,6,2,5,6,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,6.0
2231,Resort Hotel,1,328,2015,10,41,6,2,5,5,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,5.0
2417,Resort Hotel,1,334,2015,10,42,12,2,5,10,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,10.0
2418,Resort Hotel,1,334,2015,10,42,12,2,5,20,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,20.0
2419,Resort Hotel,1,334,2015,10,42,12,2,5,5,...,0,0,Group,0.0,0,0,Canceled,2015-01-02,7,5.0

In [68]:
df.sort_index(ascending = False)

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
119389,City Hotel,0,205,2017,8,35,29,2,7,2,...,0,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,2.0
119388,City Hotel,0,109,2017,8,35,31,2,5,2,...,0,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0
119387,City Hotel,0,34,2017,8,35,31,2,5,2,...,0,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,2.0
119386,City Hotel,0,102,2017,8,35,31,2,5,3,...,0,0,Transient,225.43,0,2,Check-Out,2017-09-07,7,3.0
119385,City Hotel,0,23,2017,8,35,30,2,5,2,...,0,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0

In [69]:
df.sort_values(by = 'arriving_year')

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
15,Resort Hotel,0,68,2015,7,27,1,0,4,2,...,0,0,Transient,97.00,0,3,Check-Out,2015-07-05,4,2.0
14,Resort Hotel,0,37,2015,7,27,1,0,4,2,...,0,0,Transient,94.71,0,0,Check-Out,2015-07-05,4,2.0
13,Resort Hotel,0,18,2015,7,27,1,0,4,2,...,0,0,Transient,154.77,0,1,Check-Out,2015-07-05,4,3.0
12,Resort Hotel,0,68,2015,7,27,1,0,4,2,...,0,0,Transient,97.00,0,3,Check-Out,2015-07-05,4,2.0
11,Resort Hotel,0,35,2015,7,27,1,0,4,2,...,0,0,Transient,145.00,0,0,Check-Out,2015-07-05,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,8,35,30,2,5,2,...,0,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0
119386,City Hotel,0,102,2017,8,35,31,2,5,3,...,0,0,Transient,225.43,0,2,Check-Out,2017-09-07,7,3.0
119387,City Hotel,0,34,2017,8,35,31,2,5,2,...,0,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,2.0
119388,City Hotel,0,109,2017,8,35,31,2,5,2,...,0,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0
119389,City Hotel,0,205,2017,8,35,29,2,7,2,...,0,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,2.0

In [70]:
df.sort_values(by = 'arriving_year', ascending = False)

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
119374,City Hotel,0,201,2017,8,35,29,1,5,2,...,0,0,Transient,117.00,0,2,Check-Out,2017-09-04,6,2.0
119372,City Hotel,0,175,2017,8,35,31,1,3,1,...,0,0,Transient,82.35,0,1,Check-Out,2017-09-04,4,1.0
119371,City Hotel,0,175,2017,8,35,31,1,3,2,...,0,0,Transient,86.85,0,2,Check-Out,2017-09-04,4,2.0
119370,City Hotel,0,201,2017,8,35,30,1,4,1,...,0,0,Transient,108.00,0,2,Check-Out,2017-09-04,5,1.0
119369,City Hotel,0,207,2017,8,34,25,3,7,2,...,0,0,Transient,96.25,0,2,Check-Out,2017-09-04,10,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,Resort Hotel,0,0,2015,7,27,1,0,2,2,...,0,0,Transient,107.00,0,0,Check-Out,2015-07-03,2,2.0
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0

In [71]:
df.sort_values(by = ['arriving_year','arrival_date_month'])

,hotel_name,canceled,lead_time,arriving_year,arrival_date_month,arriving_week,arriving_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_guests
0,Resort Hotel,0,342,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0
1,Resort Hotel,0,737,2015,7,27,1,0,0,2,...,0,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0
2,Resort Hotel,0,7,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
3,Resort Hotel,0,13,2015,7,27,1,0,1,1,...,0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0
4,Resort Hotel,0,14,2015,7,27,1,0,2,2,...,0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,8,35,30,2,5,2,...,0,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0
119386,City Hotel,0,102,2017,8,35,31,2,5,3,...,0,0,Transient,225.43,0,2,Check-Out,2017-09-07,7,3.0
119387,City Hotel,0,34,2017,8,35,31,2,5,2,...,0,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,2.0
119388,City Hotel,0,109,2017,8,35,31,2,5,2,...,0,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0
119389,City Hotel,0,205,2017,8,35,29,2,7,2,...,0,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,2.0

In [72]:
df.value_counts()

hotel_name    canceled  lead_time  arriving_year  arrival_date_month  arriving_week  arriving_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies  meal  country  market_segment  distribution_channel  Repeated_Guest  previous_cancellations  previous_bookings_not_canceled  reserved_room_type  assigned_room_type  booking_changes  deposit_type  agent  company  days_in_waiting_list  customer_type    average_daily_rate  required_car_parking_spaces  total_of_special_requests  reservation_status  reservation_status_date  total_nights  total_guests
Resort Hotel  1         386        2016           10                  43             20              1                        3                     2       0         0       BB    PRT      Groups          Corporate             0               0                       0                               A                   A                   0                No Deposit    0      0        0                     Transient-Party  49.0                0                            0                          Canceled            2016-09-14               4             2.0             1
                                                                                                     0                        3                     2       0         0       BB    PRT      Groups          Corporate             0               0                       0                               A                   A                   0                No Deposit    0      0        0                     Transient-Party  49.0                0                            0                          Canceled            2016-07-11               3             2.0             1
                                                                                     18              0                        5                     2       0         0       BB    PRT      Direct          Direct                0               0                       0                               A                   A                   1                No Deposit    0      0        0                     Transient        50.4                0                            2                          Canceled            2015-10-09               5             2.0             1
                                                                                                                              3                     2       0         0       BB    PRT      Direct          Direct                0               0                       0                               A                   A                   0                No Deposit    0      0        0                     Transient        50.4                0                            2                          Canceled            2015-10-09               3             2.0             1
                        385        2016           10                  41             8               0                        1                     2       0         0       BB    PRT      Groups          TA/TO                 0               0                       0                               A                   A                   2                Refundable    315    0        0                     Transient-Party  48.0                0                            0                          No-Show             2016-10-08               1             2.0             1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
City Hotel    0         0          2015           7                   30             24              0                        2                     1       0         0       BB    PRT      Direct          Direct                0               0                       0                               D                   A                   1                No Deposit    0      0        0                     Transient        0.0                 0                            0                          Check-Out           2015-07-26               2             1.0             1
                                                                                                                                                                                                                                                                                                                                                   0                No Deposit    0      0        0                     Transient        0.0                 0                            1                          Check-Out           2015-07-26               2             1.0             1
                                                                                                                              1                     2       0         0       SC    PRT      Direct          Direct                0               0                       0                               A                   A                   0                No Deposit    0      0        0                     Transient        0.0                 0                            0                          Check-Out           2015-07-25               1             2.0             1
                                                                      29             16              0                        0                     2       0         0       SC    PRT      Offline TA/TO   TA/TO                 1               0                       0                               A                   D                   0                No Deposit    19     0        0                     Transient        0.0                 0                            0                          Check-Out           2015-07-16               0             2.0             1
                                                                                     15              2                        5                     2       0         0       SC    PRT      Direct          Direct                0               0                       0                               F                   A                   4                No Deposit    0      0        0                     Transient        0.0                 0                            0                          Check-Out           2015-07-22               7             2.0             1
Name: count, Length: 85536, dtype: int64

In [73]:
df.canceled.value_counts()

canceled
0    62505
1    23031
Name: count, dtype: int64

In [74]:
df.groupby('hotel_name').agg({'children': 'mean'})

              children
hotel_name
City Hotel    0.133391
Resort Hotel  0.151446

In [ ]:
df.groupby(by = 'hotel_name')['children'].mean()

hotel_name
City Hotel      0.133391
Resort Hotel    0.151446
Name: children, dtype: float64

In [80]:
df.groupby(by = 'hotel_name')['children'].sum()

hotel_name
City Hotel      6997
Resort Hotel    5010
Name: children, dtype: int64

In [82]:
df.groupby(by = 'hotel_name')['children'].max()

hotel_name
City Hotel       3
Resort Hotel    10
Name: children, dtype: int64

Calculating customer at each hotel

In [83]:
df['arrival_date_month'].value_counts()

arrival_date_month
8     11094
7      9832
5      8285
4      7810
6      7684
3      7381
10     6671
9      6475
2      5988
12     4898
11     4847
1      4571
Name: count, dtype: int64

In [84]:
# Monthly Number of Customers at Resort Hotel
resort_not_canceled = df[(df['hotel_name'] == 'Resort Hotel')].copy()

resort_guests = resort_not_canceled['arrival_date_month'].value_counts().reset_index()
resort_guests.columns=['month','num of guests']
resort_guests

    month  num of guests
0       8           4587
1       7           4215
2       5           2903
3       4           2766
4       6           2720
5      10           2647
6       3           2578
7       2           2414
8       9           2353
9      12           2023
10     11           1989
11      1           1886

In [85]:
# Monthly Number of Customers at City Hotel
resort_not_canceled = df[(df['hotel_name'] == 'City Hotel')].copy()

city_guests = resort_not_canceled['arrival_date_month'].value_counts().reset_index()
city_guests.columns=['month','num of guests']
city_guests

    month  num of guests
0       8           6507
1       7           5617
2       5           5382
3       4           5044
4       6           4964
5       3           4803
6       9           4122
7      10           4024
8       2           3574
9      12           2875
10     11           2858
11      1           2685

Calculate cancellation rate

In [86]:
total_bookings = len(df)
canceled_bookings = df['canceled'].sum()
cancellation_rate = (canceled_bookings / total_bookings) * 100
print(f"Cancellation Rate: {cancellation_rate:.2f}%")

Cancellation Rate: 26.93%